body.omnidrive-hide-id .metadata-property[data-property-key="omnidrive_id"] {
   display: none !important; 
}

body.omnidrive-hide-all-properties .metadata-container {
    display: none !important;
}

.omnidrive-create-new { color: var(--text-accent); font-style: italic; }